<h1>目次<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#背景" data-toc-modified-id="背景-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>背景</a></span></li><li><span><a href="#目的" data-toc-modified-id="目的-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>目的</a></span><ul class="toc-item"><li><span><a href="#ビジネスインパクト" data-toc-modified-id="ビジネスインパクト-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>ビジネスインパクト</a></span></li></ul></li><li><span><a href="#データ概説" data-toc-modified-id="データ概説-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>データ概説</a></span></li><li><span><a href="#初期仮説" data-toc-modified-id="初期仮説-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>初期仮説</a></span></li><li><span><a href="#データ編集" data-toc-modified-id="データ編集-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>データ編集</a></span><ul class="toc-item"><li><span><a href="#UNIXタイムスタンプを-yyyyMMddhhmmss形式に変更" data-toc-modified-id="UNIXタイムスタンプを-yyyyMMddhhmmss形式に変更-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>UNIXタイムスタンプを yyyyMMddhhmmss形式に変更</a></span></li><li><span><a href="#タイムスタンプを年月日時分秒＋曜日に分ける" data-toc-modified-id="タイムスタンプを年月日時分秒＋曜日に分ける-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>タイムスタンプを年月日時分秒＋曜日に分ける</a></span></li><li><span><a href="#POLYLINEの編集" data-toc-modified-id="POLYLINEの編集-5.3"><span class="toc-item-num">5.3&nbsp;&nbsp;</span>POLYLINEの編集</a></span><ul class="toc-item"><li><span><a href="#カンマ区切りの文字列に変換" data-toc-modified-id="カンマ区切りの文字列に変換-5.3.1"><span class="toc-item-num">5.3.1&nbsp;&nbsp;</span>カンマ区切りの文字列に変換</a></span></li><li><span><a href="#POLYLINEに不正な値が入っている行を削除" data-toc-modified-id="POLYLINEに不正な値が入っている行を削除-5.3.2"><span class="toc-item-num">5.3.2&nbsp;&nbsp;</span>POLYLINEに不正な値が入っている行を削除</a></span></li><li><span><a href="#[緯度、経度]ペアで配列化" data-toc-modified-id="[緯度、経度]ペアで配列化-5.3.3"><span class="toc-item-num">5.3.3&nbsp;&nbsp;</span>[緯度、経度]ペアで配列化</a></span></li></ul></li><li><span><a href="#乗車距離の算出" data-toc-modified-id="乗車距離の算出-5.4"><span class="toc-item-num">5.4&nbsp;&nbsp;</span>乗車距離の算出</a></span></li><li><span><a href="#乗降ポイント列の追加" data-toc-modified-id="乗降ポイント列の追加-5.5"><span class="toc-item-num">5.5&nbsp;&nbsp;</span>乗降ポイント列の追加</a></span><ul class="toc-item"><li><span><a href="#降車ポイントが不明なデータの削除" data-toc-modified-id="降車ポイントが不明なデータの削除-5.5.1"><span class="toc-item-num">5.5.1&nbsp;&nbsp;</span>降車ポイントが不明なデータの削除</a></span></li></ul></li><li><span><a href="#祝日列の追加" data-toc-modified-id="祝日列の追加-5.6"><span class="toc-item-num">5.6&nbsp;&nbsp;</span>祝日列の追加</a></span></li><li><span><a href="#曜日を文字に変換" data-toc-modified-id="曜日を文字に変換-5.7"><span class="toc-item-num">5.7&nbsp;&nbsp;</span>曜日を文字に変換</a></span></li><li><span><a href="#列を並び替え、日付の昇順でソート" data-toc-modified-id="列を並び替え、日付の昇順でソート-5.8"><span class="toc-item-num">5.8&nbsp;&nbsp;</span>列を並び替え、日付の昇順でソート</a></span></li></ul></li><li><span><a href="#ここまでのデータをcsvに保存" data-toc-modified-id="ここまでのデータをcsvに保存-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>ここまでのデータをcsvに保存</a></span></li></ul></div>

# 交通運行の最適化を目指したタクシーの乗車需要

## 背景

観光需要の高まりから交通需要が伸びていく一方で、人口減少や超高齢化社会に直面する日本においてドライバー不足は切実な問題であり、タクシー業界も例外ではない。    
歩合制を採用しているタクシー業界では、乗車率はドライバーの土地勘と経験に影響を受けやすく、新人ドライバーの不安材料となっている。

土地勘のない新人ドライバーでも安定的に乗車率を稼げるようにする事で、離職率の低下や、新たなドライバー確保すると共に、
外国籍ドライバーの就業も予測される2020年東京オリンピックに備え、CO2削減を推進したクリーン、かつ選手村を中心に8km圏内のコンパクトな大会運営がコンセプトに貢献したい。

## 目的

- 実車時間を最大化し空車状態を減らしたい。
- コンペでは、ドライバーの初期位置と日付（2014年、8月14日　18:00）値が与えられ
    - 目的地の予測
    - 実車時間の予測   
    
がアウトプットっぽい

### ビジネスインパクト

- 営業区域500m四方のエリアごとの乗車台数予測
- 乗車獲得率の高い100m四方エリアの洗い出し
- 乗客獲得率高い進行方向
- 普段より人口が多い500m四方のエリア情報
- 現在から30分後までの未来のタクシー乗車台数の予測などを10分ごとに配車システムへ提供する。

- AIタクシー（ドコモ参照）
- AIが先読みした需要予測に基づいてタクシーが先行して向かうことで顧客の待ち時間が短縮。
- 電車遅延やイベントなどの非日常的な乗車需要増に対応したい。
- ドライバーごとの実車率のばらつき解消・底上げ
    - 各ドライバーの運行効率化により、タクシー事業者の収益向上に貢献する。リアルタイムに需要を伝えることで、新人ドライバーの不安を払拭し、離職率の低下や、新たなドライバー確保が期待され、ドライバー不足解消の一助となる。
- 気象データがあれば尚良し。
- モバイルの配車アプリ等から顧客の位置データがあれば、年齢・性別等で適切な情報が提供できる可能性あり。
- モバイルの配車アプリ等から顧客の位置データがあれば、人口の密集地帯が提供できるはず。
- AIタクシー導入後、新人ドライバーは1日当たり3115円の売り上げが上がった。（東京都心では1日約5万弱だとすると6%の売り上げ増）
- 新人でもすぐに結果を出しやすくしたい。
- 乗り合いバスもいいのでは？2018/4/16　（ITmedia エンタープライズ）
- AIタクシー交通運行の最適化をめざしたタクシーの乗車需要予測技術（PDF）

## データ概説

- 各行は1回の乗車データ
- タクシーの台数は442台
- 2013-07-01 2014-06-30 までのデータ
- Porto_taxi_data_test_partial_trajectories.csv はテストセット。(2014-01-07　2014-12-31まで）
- DAYTYPEは間違っている為、手修正が必要
    - 2013年祝日
        - 1/1 火
        - 2/11　金 regional holiday カーニバル
        - 2/14　金 ordinary friday　バレンタインデー
        - 3/29　金　
        - 3/31　日　
        - 4/1 金
        - 4/25 金
        - 5/1 木
        - 5/5 日　ordinary sunday　母の日
        - 5/9 木　regional holiday
        - 5/30 木　ordinary thursday
        - 6/10 火　
        - 6/13 金　regional holiday
        - 6/24 火　regional holiday
        - 6/29 日　regional holiday
        - 8/15 金　
        - 10/5 土　ordinary saturday　
        - 11/1 金　ordinary friday
        - 12/1 日　ordinary monday　
        - 12/8 日　　
        - 12/25 水　
    - 2014年祝日
        - 1/1 水
        - 2/14　金 ordinary friday　バレンタインデー
        - 3/3　月　regional holiday
        - 4/18 金
        - 4/20 日
        - 4/21 月　regional holiday　イースターの月曜日
        - 4/25 金
        - 5/1 木
        - 5/4 日　ordinary sunday　母の日
        - 5/29 火　regional holiday
        - 6/10 火　
        - 6/13 金　regional holiday
        - 6/19 木　ordinary sunday
        - 6/24 火　regional holiday
        - 6/29 日　regional holiday
        - 8/15 金　
        - 10/5 日　ordinary sunday　
        - 11/1 土　ordinary saturday
        - 12/1 月　ordinary monday　
        - 12/8 月　　
        - 12/25 木

データ定義
- TRIP_ID：（String）　各乗車を一意に表す識別子。

- CALL_TYPE：（char）　乗車サービスの提供タイプ。
    - センターから配車された場合は "A" 
    - タクシー乗り場から乗車した場合は "B" 
    - 流している最中に乗車要求された場合 "C" 

- ORIGIN_CALL：（整数）　少なくとも1つのサービスを要求するために使用された各電話番号の一意の識別子を含みます。
    - CALL_TYPE = 'A'の場合、旅行の顧客を識別します。 
    - それ以外の場合は、NULL値とみなされます。 

- ORIGIN_STAND：（整数）：　タクシー乗り場の識別子。 
    - CALL_TYPE = 'B'の場合、乗車の開始点を示します。 
    - それ以外の場合は、NULL値。 

- TAXI_ID :(整数）：タクシードライバーの識別子。 

- TIMESTAMP：（整数）　Unixタイムスタンプ（秒単位）。 1970-01-01 00:00:00からの経過秒数を表す。トリップの開始を識別します。 

- DAYTYPE：（char）　旅行の出発日の日時を指定します。 次の3つの値のいずれかを仮定します。 
    - この旅行が休日または他の特別な日に開始された場合（すなわち、延期、休暇など）、 'B' 
    - タイプBの日の前日に旅行が開始された場合は 'C' 
    - そうでなければ（すなわち、通常の日、就業日または週末） 'A'。 
重要な注意：このフィールドは正しく計算されていません。 ポルトガルの公式祝日の信頼できる情報源として、以下のリンクをご覧ください。 

- MISSING_DATA：（ブール値）　GPSデータストリームが完了するとFALSE、1つ（または複数）の場所が見つからない場合はTRUEです。 
    恐らく、降車した地点が不明なデータと思われる。（補完できないので削除対象）

- POLYLINE：（String）：　文字列としてマップされたGPS座標（WGS84形式）のリストを含んでいます。 
    - 文字列の先頭と末尾は角括弧（[と]）で識別されます。 
    - 座標の各ペアは、[LONGITUDE、LATITUDE]と同じ角括弧で識別されます。 
    - このリストには、15秒ごとに1組の座標が含まれています。 
    - 最後のリスト項目は旅行の目的地に対応し、最初の項目は出発地を表します。

## 初期仮説

- 平日と休日（祝日含む）、時間によって乗車率は異なってくるはず（本来は天候も）
- 乗車しやすい場所があるはず
- 後車しやすい場所があるはず
- 乗車率が高くなる流し方向があるはず
- 乗車率の高いドライバーと低いドライバーがいるはず。

## データ編集

In [1]:
import pandas as pd 
import numpy as np
import re
import copy
from datetime import datetime as dt

from matplotlib import pyplot as plt
import seaborn as sns

# warningの抑止
import warnings
warnings.filterwarnings('ignore')

# メモリ解放
import gc

In [2]:
# データを読み込む
df = pd.read_csv("data/train.csv")

# データを読み込む
# df = pd.read_csv("data/solution_challengeII.csv")

# # データを読み込む
# df = pd.read_csv("data/solution_fixed.csv")

# 行数と列数を確認
df.shape

(1710670, 9)

### UNIXタイムスタンプを yyyyMMddhhmmss形式に変更

In [3]:
df["time"] = pd.to_datetime(df["TIMESTAMP"], unit="s")

### タイムスタンプを年月日時分秒＋曜日に分ける

In [4]:
# time列（9列目）を、年月日時分秒 + 曜日 で分割する。
df["year"] = df.iloc[:, 9].apply(lambda x: x.year)

df["month"] = df.iloc[:, 9].apply(lambda x: x.month)

df["day"] = df.iloc[:, 9].apply(lambda x: x.day)

df["weekday"] = df.iloc[:, 9].apply(lambda x: x.weekday())

df["hour"] = df.iloc[:, 9].apply(lambda x: x.hour)

df["minute"] = df.iloc[:, 9].apply(lambda x: x.minute)

df["second"] = df.iloc[:, 9].apply(lambda x: x.second)

### POLYLINEの編集

#### カンマ区切りの文字列に変換

In [5]:
df["POLYLINE"] = df["POLYLINE"].apply(lambda x: x.replace("[", "").replace("]", ""))

#### POLYLINEに不正な値が入っている行を削除

POLYLINEは15秒ごとの [経度、緯度] をリストなので、値が入っていなかったり、[経度、緯度]の組みとなっていなかった場合、乗車、降車地点が不明なレコードは削除する。

In [6]:
# 例）無効レコード(降車ポイント不明)
df["POLYLINE"].iloc[54]

'-8.610912,41.145786'

In [7]:
# 例）無効レコード（乗車ポイント不明）
df["POLYLINE"].iloc[1161]

''

In [8]:
invalid_polyline_row_index = []

for i, v in enumerate(df["POLYLINE"]):

    try:
        _arr = v.split(",")
        _size = len(_arr)

        # 経度、緯度のペアになっていない場合
        if (_size % 2) != 0:
            raise ValueError()

        # 乗車経度、乗車緯度、降車経度、降車緯度がない場合
        if _size < 4:
            raise ValueError()

        # 数値に変換できる事を確認
        float(_arr[0])  #乗車経度
        float(_arr[1])  #乗車経度
        float(_arr[-2])  #降車経度
        float(_arr[-1])  #降車緯度

    except:
        # print(i, v)
        # 不適切な 値が格納されている行インデックスを格納
        invalid_polyline_row_index.append(i)

In [9]:
len(invalid_polyline_row_index)

36510

In [10]:
df.shape[0]

1710670

In [11]:
# 無効な行レコードを削除
df.drop(invalid_polyline_row_index, inplace=True)

In [12]:
df.shape[0]

1674160

In [13]:
1674160 + 36510

1710670

#### [緯度、経度]ペアで配列化

In [14]:
def to_array_polyline(x):
    
    _arr = x.split(",")

    parent_list = []
    child_list = None
    
    for i ,v in enumerate( _arr ):
        
        if i % 2 == 0:
            child_list = []
            child_list.append(float(v))
        else:
            child_list.append(v)
            parent_list.append(np.array(child_list))
    
    return np.array(parent_list)

df["POLYLINE"] = df["POLYLINE"].apply(to_array_polyline)

### 乗車距離の算出

In [15]:
def calc_distance(x):

    _distance = 0

    start_point = []
    end_point = []

    for i, v in enumerate(x):

        if i == 0:
            start_point.append(float(v[0]))
            start_point.append(float(v[1]))
            continue

        end_point = np.array(start_point)
        start_point = []

        start_point.append(float(v[0]))
        start_point.append(float(v[1]))
        start_point = np.array(start_point)

        # １度あたり 110.94297kmで計算（緯度の違いによる経度の距離の違いは無視）
        _temp = ((end_point - start_point) * 110.94297)**2
        _distance += np.sqrt(_temp[0] + _temp[1])

    return _distance


df["distance"] = df["POLYLINE"].apply(calc_distance)

In [16]:
df["distance"].head()

0     3.186095
1     4.388608
2    22.403604
3    10.114430
4     5.905514
Name: distance, dtype: float64

### 乗降ポイント列の追加

In [17]:
# 乗車時間（秒）列の追加
df["riding_time"] = df["POLYLINE"].apply(lambda x : len(x) * 15)

In [18]:
# 乗車した緯度・経度を返す
def get_start_point(polyline):
    _arr = polyline.split(",")
    return np.array(float(_arr[0]), float(_arr[1]))


# 降車した緯度・経度を返す
def get_end_point(polyline):
    _arr = polyline.split(",")
    return np.array(float(_arr[-2]), float(_arr[-1]))

In [ ]:
# # 乗降ポイント列の追加(プロットの方法がわからない為、緯度、経度に分解)
# df["start_point"] = df["POLYLINE"].apply(lambda x : x[0])
# df["end_point"] = df["POLYLINE"].apply(lambda x : x[-1])

In [19]:
# 乗降ポイント列の追加
df["start_x"] = df["POLYLINE"].apply(lambda x : x[0][0])
df["start_y"] = df["POLYLINE"].apply(lambda x : x[0][1])

df["end_x"] = df["POLYLINE"].apply(lambda x : x[-1][0])
df["end_y"] = df["POLYLINE"].apply(lambda x : x[-1][1])

In [20]:
df.head(3)

,TRIP_ID,CALL_TYPE,ORIGIN_CALL,ORIGIN_STAND,TAXI_ID,TIMESTAMP,DAY_TYPE,MISSING_DATA,POLYLINE,time,...,weekday,hour,minute,second,distance,riding_time,start_x,start_y,end_x,end_y
0,1372636858620000589,C,NaN,NaN,20000589,1372636858,A,False,"[[-8.618643, 41.141412], [-8.618499, 41.141376...",2013-07-01 00:00:58,...,0,0,0,58,3.186095,345,-8.618643,41.141412,-8.630838,41.154489
1,1372637303620000596,B,NaN,7.0,20000596,1372637303,A,False,"[[-8.639847, 41.159826], [-8.640351, 41.159871...",2013-07-01 00:08:23,...,0,0,8,23,4.388608,285,-8.639847,41.159826,-8.66574,41.170671
2,1372636951620000320,C,NaN,NaN,20000320,1372636951,A,False,"[[-8.612964, 41.140359], [-8.613378, 41.14035]...",2013-07-01 00:02:31,...,0,0,2,31,22.403604,975,-8.612964,41.140359,-8.61597,41.14053

#### 降車ポイントが不明なデータの削除

In [22]:
# 降車ポイント
df[df["MISSING_DATA"] != False].index.values

array([ 105621,  299137,  457486,  738466,  782321,  848552,  932391,
       1432196])

In [ ]:
df.drop(df[df["MISSING_DATA"] != False].index.values, inplace=True)

In [ ]:
df[df["MISSING_DATA"] != False].shape[0]

### 祝日列の追加

In [21]:
def is_holiday(x):

    # 平日
    ret_val = "o"

    _year = x["year"]
    _month = x["month"]
    _day = x["day"]

    if _year == 2013:
        # 1/1
        if _month == 1:
            if _day == 1:
                ret_val = 'h'

        # 2/11、2/14
        elif _month == 2:
            if _day in (11, 14):
                ret_val = 'h'

        # 3/29、3/31
        elif _month == 3:
            if _day in (29, 31):
                ret_val = 'h'

        # 4/1、4/25
        elif _month == 4:
            if _day in (1, 25):
                ret_val = 'h'

        # 5/1、5/5、5/9、5/30
        elif _month == 5:
            if _day in (1, 5, 9, 30):
                ret_val = 'h'

        # 6/10、6/13、6/24、6/29
        elif _month == 6:
            if _day in (10, 13, 24, 29):
                ret_val = 'h'
        # 8/15
        elif _month == 8:
            if _day == 15:
                ret_val = 'h'
        # 10/5
        elif _month == 10:
            if _day == 5:
                ret_val = 'h'

        # 11/1
        elif _month == 11:
            if _day == 1:
                ret_val = 'h'

        # 12/1、12/8、12/25
        elif _month == 12:
            if _day in (1, 8, 25):
                ret_val = 'h'

    elif _year == 2014:
        # 1/1
        if _month == 1:
            if _day == 1:
                ret_val = 'h'

        # 2/14
        elif _month == 2:
            if _day == 14:
                ret_val = 'h'

        # 3/3
        elif _month == 3:
            if _day == 3:
                ret_val = 'h'

        # 4/18、4/20、4/21、4/25
        elif _month == 4:
            if _day in (18, 20, 21, 25):
                ret_val = 'h'

        # 5/1、5/4、5/29
        elif _month == 5:
            if _day in (1, 4, 29):
                ret_val = 'h'

        # 6/10、6/13、6/19、6/24、6/29
        elif _month == 6:
            if _day in (10, 13, 19, 24, 29):
                ret_val = 'h'
        # 8/15
        elif _month == 8:
            if _day == 15:
                ret_val = 'h'
        # 10/5
        elif _month == 10:
            if _day == 5:
                ret_val = 'h'

        # 11/1
        elif _month == 11:
            if _day == 1:
                ret_val = 'h'

        # 12/1、12/8、12/25
        elif _month == 12:
            if _day in (1, 8, 25):
                ret_val = 'h'

    return ret_val


df["holiday"] = df.apply(is_holiday, axis=1)

### 曜日を文字に変換  
後でダミー化する為

In [23]:
# Monday=0, Sunday=6 => 0=Mon, 6=Sun に変換
def convert_weekday(x):

    if x == 0:
        return "mon"
    elif x == 1:
        return "tue"
    elif x == 2:
        return "wed"
    elif x == 3:
        return "thu"
    elif x == 4:
        return "fri"
    elif x == 5:
        return "sat"
    elif x == 6:
        return "sun"

df["weekday"] = df["weekday"].apply(convert_weekday)

### 列を並び替え、日付の昇順でソート

In [24]:
# 要らない列を削除
df.drop("time", axis=1, inplace=True)

In [25]:
col_names = [
    "TIMESTAMP", "year", "month", "day", "weekday", "hour", "minute", "second",
    "TAXI_ID", "TRIP_ID", "holiday", "riding_time", "distance", "start_x",
    "start_y", "end_x", "end_y", "DAY_TYPE", "CALL_TYPE", "ORIGIN_STAND",
    "ORIGIN_CALL", "MISSING_DATA", "POLYLINE"
]

df.sort_values(
    by=["year", "month", "day", "hour", "minute", "second"],
    ascending=True,
    inplace=True)
df = df.reindex(col_names, axis=1)

# 元の行インデックスをdropし、振りなおす
df.reset_index(drop=True, inplace=True)

# TAXI_IDを文字列として認識させる
df["TAXI_ID"] = df["TAXI_ID"].astype(str)

In [26]:
pd.set_option("display.max_columns", 30)
df.head(3)

,TIMESTAMP,year,month,day,weekday,hour,minute,second,TAXI_ID,TRIP_ID,holiday,riding_time,distance,start_x,start_y,end_x,end_y,DAY_TYPE,CALL_TYPE,ORIGIN_STAND,ORIGIN_CALL,MISSING_DATA,POLYLINE
0,1372636853,2013,7,1,mon,0,0,53,20000380,1372636853620000380,o,375,2.395003,-8.610291,41.140746,-8.60589,41.145345,A,C,NaN,NaN,False,"[[-8.610291, 41.140746], [-8.6103, 41.140755],..."
1,1372636854,2013,7,1,mon,0,0,54,20000520,1372636854620000520,o,645,10.114430,-8.574678,41.151951,-8.607996,41.142915,A,C,NaN,NaN,False,"[[-8.574678, 41.151951], [-8.574705, 41.151942..."
2,1372636858,2013,7,1,mon,0,0,58,20000589,1372636858620000589,o,345,3.186095,-8.618643,41.141412,-8.630838,41.154489,A,C,NaN,NaN,False,"[[-8.618643, 41.141412], [-8.618499, 41.141376..."

## ここまでのデータをcsvに保存

※　df["MISSING_DATA"] != Falseも残してます。

In [ ]:
# 要らない列を削除
# df.drop("POLYLINE", axis=1, inplace=True)

df.to_csv("data/edit_train_with_polyline.csv", index=False, header=True)

In [27]:
# 要らない列を削除
df.drop("POLYLINE", axis=1, inplace=True)

df.to_csv("data/edit_train.csv", index=False, header=True)