<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#背景" data-toc-modified-id="背景-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>背景</a></span></li><li><span><a href="#目的" data-toc-modified-id="目的-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>目的</a></span><ul class="toc-item"><li><span><a href="#ビジネスインパクト" data-toc-modified-id="ビジネスインパクト-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>ビジネスインパクト</a></span></li></ul></li><li><span><a href="#データ概説" data-toc-modified-id="データ概説-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>データ概説</a></span></li><li><span><a href="#初期仮説" data-toc-modified-id="初期仮説-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>初期仮説</a></span></li><li><span><a href="#データ分析" data-toc-modified-id="データ分析-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>データ分析</a></span><ul class="toc-item"><li><span><a href="#データの俯瞰" data-toc-modified-id="データの俯瞰-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>データの俯瞰</a></span></li><li><span><a href="#列の並べ替え" data-toc-modified-id="列の並べ替え-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>列の並べ替え</a></span></li><li><span><a href="#UNIXタイムスタンプを-yyyyMMddhhmmss形式に変更" data-toc-modified-id="UNIXタイムスタンプを-yyyyMMddhhmmss形式に変更-5.3"><span class="toc-item-num">5.3&nbsp;&nbsp;</span>UNIXタイムスタンプを yyyyMMddhhmmss形式に変更</a></span></li><li><span><a href="#タイムスタンプを年月日時分秒＋曜日に分ける" data-toc-modified-id="タイムスタンプを年月日時分秒＋曜日に分ける-5.4"><span class="toc-item-num">5.4&nbsp;&nbsp;</span>タイムスタンプを年月日時分秒＋曜日に分ける</a></span></li><li><span><a href="#POLYLINEの中身をfloatの配列に変換" data-toc-modified-id="POLYLINEの中身をfloatの配列に変換-5.5"><span class="toc-item-num">5.5&nbsp;&nbsp;</span>POLYLINEの中身をfloatの配列に変換</a></span></li></ul></li><li><span><a href="#乗車率の算出" data-toc-modified-id="乗車率の算出-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>乗車率の算出</a></span><ul class="toc-item"><li><span><a href="#乗車率の定義" data-toc-modified-id="乗車率の定義-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span>乗車率の定義</a></span></li></ul></li></ul></div>

# 交通運行の最適化を目指したタクシーの乗車需要

## 背景

観光需要の高まりから交通需要が伸びていく一方で、人口減少や超高齢化社会に直面する日本においてドライバー不足は切実な問題であり、タクシー業界も例外ではない。    
歩合制を採用しているタクシー業界では、乗車率はドライバーの土地勘と経験に影響を受けやすく、新人ドライバーの不安材料となっている。

土地勘のない新人ドライバーでも安定的に乗車率を稼げるようにする事で、離職率の低下や、新たなドライバー確保すると共に、
外国籍ドライバーの就業も予測される2020年東京オリンピックに備え、CO2削減を推進したクリーン、かつ選手村を中心に8km圏内のコンパクトな大会運営がコンセプトに貢献したい。

## 目的

- 実車時間を最大化し空車状態を減らしたい。
- コンペでは、ドライバーの初期位置と日付（2014年、8月14日　18:00）値が与えられ
    - 目的地の予測
    - 実車時間の予測   
    
がアウトプットっぽい

### ビジネスインパクト

- 営業区域500m四方のエリアごとの乗車台数予測
- 乗車獲得率の高い100m四方エリアの洗い出し
- 乗客獲得率高い進行方向
- 普段より人口が多い500m四方のエリア情報
- 現在から30分後までの未来のタクシー乗車台数の予測などを10分ごとに配車システムへ提供する。

- AIタクシー（ドコモ参照）
- AIが先読みした需要予測に基づいてタクシーが先行して向かうことで顧客の待ち時間が短縮。
- 電車遅延やイベントなどの非日常的な乗車需要増に対応したい。
- ドライバーごとの実車率のばらつき解消・底上げ
    - 各ドライバーの運行効率化により、タクシー事業者の収益向上に貢献する。リアルタイムに需要を伝えることで、新人ドライバーの不安を払拭し、離職率の低下や、新たなドライバー確保が期待され、ドライバー不足解消の一助となる。
- 気象データがあれば尚良し。
- モバイルの配車アプリ等から顧客の位置データがあれば、年齢・性別等で適切な情報が提供できる可能性あり。
- モバイルの配車アプリ等から顧客の位置データがあれば、人口の密集地帯が提供できるはず。
- AIタクシー導入後、新人ドライバーは1日当たり3115円の売り上げが上がった。（東京都心では1日約5万弱だとすると6%の売り上げ増）
- 新人でもすぐに結果を出しやすくしたい。
- 乗り合いバスもいいのでは？2018/4/16　（ITmedia エンタープライズ）
- AIタクシー交通運行の最適化をめざしたタクシーの乗車需要予測技術（PDF）

## データ概説

- 各行は1回の乗車データ
- タクシーの台数は442台
- 2013-07-01 2014-06-30 までのデータ
- Porto_taxi_data_test_partial_trajectories.csv はテストセット。(2014-01-07　2014-12-31まで）
- DAYTYPEは間違っている為、手修正が必要
    - 2014年祝日
        - 1/1 火
        - 2/11　金 regional holiday カーニバル
        - 2/14　金 ordinary friday　バレンタインデー
        - 3/29　金　
        - 3/31　日　
        - 4/1 金
        - 4/25 金
        - 5/1 木
        - 5/5 日　ordinary sunday　母の日
        - 5/9 木　regional holiday
        - 5/30 木　ordinary thursday
        - 6/10 火　
        - 6/13 金　regional holiday
        - 6/24 火　regional holiday
        - 6/29 日　regional holiday
        - 8/15 金　
        - 10/5 土　ordinary saturday　
        - 11/1 金　ordinary friday
        - 12/1 日　ordinary monday　
        - 12/8 日　　
        - 12/25 水　
    - 2014年祝日
        - 1/1 水
        - 2/14　金 ordinary friday　バレンタインデー
        - 3/3　月　regional holiday
        - 4/18 金
        - 4/20 日
        - 4/21 月　regional holiday　イースターの月曜日
        - 4/25 金
        - 5/1 木
        - 5/4 日　ordinary sunday　母の日
        - 5/29 火　regional holiday
        - 6/10 火　
        - 6/13 金　regional holiday
        - 6/19 木　ordinary sunday
        - 6/24 火　regional holiday
        - 6/29 日　regional holiday
        - 8/15 金　
        - 10/5 日　ordinary sunday　
        - 11/1 土　ordinary saturday
        - 12/1 月　ordinary monday　
        - 12/8 月　　
        - 12/25 木

データ定義
- TRIP_ID：（String）　各乗車を一意に表す識別子。

- CALL_TYPE：（char）　乗車サービスの提供タイプ。
    - センターから配車された場合は "A" 
    - タクシー乗り場から乗車した場合は "B" 
    - 流している最中に乗車要求された場合 "C" 

- ORIGIN_CALL：（整数）　少なくとも1つのサービスを要求するために使用された各電話番号の一意の識別子を含みます。
    - CALL_TYPE = 'A'の場合、旅行の顧客を識別します。 
    - それ以外の場合は、NULL値とみなされます。 

- ORIGIN_STAND：（整数）：　タクシー乗り場の識別子。 
    - CALL_TYPE = 'B'の場合、乗車の開始点を示します。 
    - それ以外の場合は、NULL値。 

- TAXI_ID :(整数）：タクシードライバーの識別子。 

- TIMESTAMP：（整数）　Unixタイムスタンプ（秒単位）。 1970-01-01 00:00:00からの経過秒数を表す。トリップの開始を識別します。 

- DAYTYPE：（char）　旅行の出発日の日時を指定します。 次の3つの値のいずれかを仮定します。 
    - この旅行が休日または他の特別な日に開始された場合（すなわち、延期、休暇など）、 'B' 
    - タイプBの日の前日に旅行が開始された場合は 'C' 
    - そうでなければ（すなわち、通常の日、就業日または週末） 'A'。 
重要な注意：このフィールドは正しく計算されていません。 ポルトガルの公式祝日の信頼できる情報源として、以下のリンクをご覧ください。 

- MISSING_DATA：（ブール値）　GPSデータストリームが完了するとFALSE、1つ（または複数）の場所が見つからない場合はTRUEです。 
    恐らく、降車した地点が不明なデータと思われる。（補完できないので削除対象）

- POLYLINE：（String）：　文字列としてマップされたGPS座標（WGS84形式）のリストを含んでいます。 
    - 文字列の先頭と末尾は角括弧（[と]）で識別されます。 
    - 座標の各ペアは、[LONGITUDE、LATITUDE]と同じ角括弧で識別されます。 
    - このリストには、15秒ごとに1組の座標が含まれています。 
    - 最後のリスト項目は旅行の目的地に対応し、最初の項目は出発地を表します。

## 初期仮説

- 平日と休日（祝日含む）、時間によって乗車率は異なってくるはず（本来は天候も）
- 乗車しやすい場所があるはず
- 後車しやすい場所があるはず
- 乗車率が高くなる流し方向があるはず
- 乗車率の高いドライバーと低いドライバーがいるはず。

## データ分析

In [1]:
import pandas as pd 
import numpy as np
import re
import copy
from datetime import datetime as dt

from matplotlib import pyplot as plt
import seaborn as sns

# warningの抑止
import warnings
warnings.filterwarnings('ignore')

In [2]:
# データを読み込む
df = pd.read_csv("data/train.csv")

# データを読み込む
# df = pd.read_csv("data/solution_challengeII.csv")

# # データを読み込む
# df = pd.read_csv("data/solution_fixed.csv")

# 行数と列数を確認
df.shape

(1710670, 9)

### データの俯瞰

In [3]:
df.head()

,TRIP_ID,CALL_TYPE,ORIGIN_CALL,ORIGIN_STAND,TAXI_ID,TIMESTAMP,DAY_TYPE,MISSING_DATA,POLYLINE
0,1372636858620000589,C,NaN,NaN,20000589,1372636858,A,False,"[[-8.618643,41.141412],[-8.618499,41.141376],[..."
1,1372637303620000596,B,NaN,7.0,20000596,1372637303,A,False,"[[-8.639847,41.159826],[-8.640351,41.159871],[..."
2,1372636951620000320,C,NaN,NaN,20000320,1372636951,A,False,"[[-8.612964,41.140359],[-8.613378,41.14035],[-..."
3,1372636854620000520,C,NaN,NaN,20000520,1372636854,A,False,"[[-8.574678,41.151951],[-8.574705,41.151942],[..."
4,1372637091620000337,C,NaN,NaN,20000337,1372637091,A,False,"[[-8.645994,41.18049],[-8.645949,41.180517],[-..."

### 列の並べ替え

In [4]:
con_names = [
    "TIMESTAMP", "DAY_TYPE", "TAXI_ID", "TRIP_ID", "CALL_TYPE", "ORIGIN_STAND",
    "ORIGIN_CALL", "MISSING_DATA", "POLYLINE"
]

# TIMESTSMPの昇順でソート
df.sort_values(by=["TIMESTAMP", "TAXI_ID"], ascending=True, inplace=True)

# 列の並び替え
df = df.reindex(con_names, axis=1)

# 元の行インデックスをdropし、振りなおす 
df.reset_index(drop=True, inplace=True)
df.head()

,TIMESTAMP,DAY_TYPE,TAXI_ID,TRIP_ID,CALL_TYPE,ORIGIN_STAND,ORIGIN_CALL,MISSING_DATA,POLYLINE
0,1372636853,A,20000380,1372636853620000380,C,NaN,NaN,False,"[[-8.610291,41.140746],[-8.6103,41.140755],[-8..."
1,1372636854,A,20000520,1372636854620000520,C,NaN,NaN,False,"[[-8.574678,41.151951],[-8.574705,41.151942],[..."
2,1372636858,A,20000589,1372636858620000589,C,NaN,NaN,False,"[[-8.618643,41.141412],[-8.618499,41.141376],[..."
3,1372636875,A,20000233,1372636875620000233,C,NaN,NaN,False,"[[-8.619894,41.148009],[-8.620164,41.14773],[-..."
4,1372636896,A,20000360,1372636896620000360,C,NaN,NaN,False,"[[-8.617599,41.146137],[-8.617581,41.14593],[-..."

In [5]:
df.dtypes

TIMESTAMP         int64
DAY_TYPE         object
TAXI_ID           int64
TRIP_ID           int64
CALL_TYPE        object
ORIGIN_STAND    float64
ORIGIN_CALL     float64
MISSING_DATA       bool
POLYLINE         object
dtype: object

### UNIXタイムスタンプを yyyyMMddhhmmss形式に変更

In [6]:
df["time"] = pd.to_datetime(df["TIMESTAMP"], unit="s")

In [7]:
df.head()

,TIMESTAMP,DAY_TYPE,TAXI_ID,TRIP_ID,CALL_TYPE,ORIGIN_STAND,ORIGIN_CALL,MISSING_DATA,POLYLINE,time
0,1372636853,A,20000380,1372636853620000380,C,NaN,NaN,False,"[[-8.610291,41.140746],[-8.6103,41.140755],[-8...",2013-07-01 00:00:53
1,1372636854,A,20000520,1372636854620000520,C,NaN,NaN,False,"[[-8.574678,41.151951],[-8.574705,41.151942],[...",2013-07-01 00:00:54
2,1372636858,A,20000589,1372636858620000589,C,NaN,NaN,False,"[[-8.618643,41.141412],[-8.618499,41.141376],[...",2013-07-01 00:00:58
3,1372636875,A,20000233,1372636875620000233,C,NaN,NaN,False,"[[-8.619894,41.148009],[-8.620164,41.14773],[-...",2013-07-01 00:01:15
4,1372636896,A,20000360,1372636896620000360,C,NaN,NaN,False,"[[-8.617599,41.146137],[-8.617581,41.14593],[-...",2013-07-01 00:01:36

### タイムスタンプを年月日時分秒＋曜日に分ける

In [8]:
df.iloc[:, 9][:0]

Series([], Name: time, dtype: datetime64[ns])

In [9]:
# time列（9列目）を、年月日時分秒 + 曜日 で分割する。
df["year"] = df.iloc[:, 9].apply(lambda x: x.year)

df["month"] = df.iloc[:, 9].apply(lambda x: x.month)

df["day"] = df.iloc[:, 9].apply(lambda x: x.day)

df["weekday"] = df.iloc[:, 9].apply(lambda x: x.weekday())

df["hour"] = df.iloc[:, 9].apply(lambda x: x.hour)

df["minute"] = df.iloc[:, 9].apply(lambda x: x.minute)

df["second"] = df.iloc[:, 9].apply(lambda x: x.second)

In [10]:
df.head()

,TIMESTAMP,DAY_TYPE,TAXI_ID,TRIP_ID,CALL_TYPE,ORIGIN_STAND,ORIGIN_CALL,MISSING_DATA,POLYLINE,time,year,month,day,weekday,hour,minute,second
0,1372636853,A,20000380,1372636853620000380,C,NaN,NaN,False,"[[-8.610291,41.140746],[-8.6103,41.140755],[-8...",2013-07-01 00:00:53,2013,7,1,0,0,0,53
1,1372636854,A,20000520,1372636854620000520,C,NaN,NaN,False,"[[-8.574678,41.151951],[-8.574705,41.151942],[...",2013-07-01 00:00:54,2013,7,1,0,0,0,54
2,1372636858,A,20000589,1372636858620000589,C,NaN,NaN,False,"[[-8.618643,41.141412],[-8.618499,41.141376],[...",2013-07-01 00:00:58,2013,7,1,0,0,0,58
3,1372636875,A,20000233,1372636875620000233,C,NaN,NaN,False,"[[-8.619894,41.148009],[-8.620164,41.14773],[-...",2013-07-01 00:01:15,2013,7,1,0,0,1,15
4,1372636896,A,20000360,1372636896620000360,C,NaN,NaN,False,"[[-8.617599,41.146137],[-8.617581,41.14593],[-...",2013-07-01 00:01:36,2013,7,1,0,0,1,36

In [11]:
con_names = [
    "TIMESTAMP", "year", "month", "day", "weekday", "hour", "minute", "second", "DAY_TYPE",
    "TAXI_ID", "TRIP_ID", "CALL_TYPE", "ORIGIN_STAND", "ORIGIN_CALL",
    "MISSING_DATA", "POLYLINE"
]

# df.drop("TIMESTAMP", axis=1, inplace=True)
df.drop("time", axis=1, inplace=True)

df.sort_values(by=["year", "month", "day", "hour", "minute", "second"], ascending=True, inplace=True)
df = df.reindex(con_names, axis=1)

In [12]:
df.head()

,TIMESTAMP,year,month,day,weekday,hour,minute,second,DAY_TYPE,TAXI_ID,TRIP_ID,CALL_TYPE,ORIGIN_STAND,ORIGIN_CALL,MISSING_DATA,POLYLINE
0,1372636853,2013,7,1,0,0,0,53,A,20000380,1372636853620000380,C,NaN,NaN,False,"[[-8.610291,41.140746],[-8.6103,41.140755],[-8..."
1,1372636854,2013,7,1,0,0,0,54,A,20000520,1372636854620000520,C,NaN,NaN,False,"[[-8.574678,41.151951],[-8.574705,41.151942],[..."
2,1372636858,2013,7,1,0,0,0,58,A,20000589,1372636858620000589,C,NaN,NaN,False,"[[-8.618643,41.141412],[-8.618499,41.141376],[..."
3,1372636875,2013,7,1,0,0,1,15,A,20000233,1372636875620000233,C,NaN,NaN,False,"[[-8.619894,41.148009],[-8.620164,41.14773],[-..."
4,1372636896,2013,7,1,0,0,1,36,A,20000360,1372636896620000360,C,NaN,NaN,False,"[[-8.617599,41.146137],[-8.617581,41.14593],[-..."

In [ ]:
# 複合インデックスとして再作成
# df.set_index(["year", "month", "day", "weekday", "hour"], inplace=True)

In [13]:
df[df["TAXI_ID"] == 20000380].head(3)

,TIMESTAMP,year,month,day,weekday,hour,minute,second,DAY_TYPE,TAXI_ID,TRIP_ID,CALL_TYPE,ORIGIN_STAND,ORIGIN_CALL,MISSING_DATA,POLYLINE
0,1372636853,2013,7,1,0,0,0,53,A,20000380,1372636853620000380,C,NaN,NaN,False,"[[-8.610291,41.140746],[-8.6103,41.140755],[-8..."
868,1372665614,2013,7,1,0,8,0,14,A,20000380,1372665614620000380,A,NaN,8221.0,False,"[[-8.611668,41.168817],[-8.611632,41.168781],[..."
1006,1372667141,2013,7,1,0,8,25,41,A,20000380,1372667141620000380,A,NaN,2002.0,False,"[[-8.640162,41.166153],[-8.640162,41.166162],[..."

In [14]:
df[df["MISSING_DATA"] != False]

,TIMESTAMP,year,month,day,weekday,hour,minute,second,DAY_TYPE,TAXI_ID,TRIP_ID,CALL_TYPE,ORIGIN_STAND,ORIGIN_CALL,MISSING_DATA,POLYLINE
105726,1374554455,2013,7,23,1,4,40,55,A,20000625,1374554455620000625,B,23.0,NaN,True,"[[-8.612559,41.145975],[-8.612577,41.145975],[..."
171456,1375863510,2013,8,7,2,8,18,30,A,20000454,1375863510620000454,B,62.0,NaN,True,"[[-0.205893,41.010282]]"
299257,1378544246,2013,9,7,5,8,57,26,A,20000057,1378544246620000057,B,55.0,NaN,True,"[[-8.569719,41.166135],[-8.567928,41.166477],[..."
456708,1381233613,2013,10,8,1,12,0,13,A,20000387,1381233613620000387,C,NaN,NaN,True,"[[-8.626347,41.153436],[-8.626275,41.152905],[..."
737559,1386346894,2013,12,6,4,16,21,34,A,20000904,1386346894620000904,C,NaN,NaN,True,"[[-8.652816,40.636575],[-8.652807,40.636566],[..."
782437,1387137779,2013,12,15,6,20,2,59,A,20000640,1387137779620000640,C,NaN,NaN,True,"[[-8.604558,41.161941],[-8.604477,41.162013],[..."
848772,1388351478,2013,12,29,6,21,11,18,A,20000678,1388351478620000678,A,NaN,9738.0,True,"[[-8.609697,41.160276],[-8.609571,41.16033],[-..."
932616,1390005983,2014,1,18,5,0,46,23,A,20000640,1390005983620000640,C,NaN,NaN,True,"[[-8.604792,41.16123],[-8.604801,41.161167],[-..."
1276188,1396631707,2014,4,4,4,17,15,7,A,20000163,1396631707620000163,C,NaN,NaN,True,"[[-10.634022,43.834248]]"
1428555,1399405185,2014,5,6,1,19,39,45,A,20000508,1399405185620000508,C,NaN,NaN,True,"[[-8.620011,41.14683],[-8.619957,41.146659],[-..."

In [15]:
df.shape

(1710670, 16)

In [16]:
# 配車センターから乗った
df[df["CALL_TYPE"] == "A"].shape

(364770, 16)

In [17]:
# タクシー乗り場から乗車
df[df["CALL_TYPE"] == "B"].shape

(817881, 16)

In [18]:
# 流して乗車
df[df["CALL_TYPE"] == "C"].shape

(528019, 16)

In [19]:
df[df["TRIP_ID"] == 1372636853620000380]

,TIMESTAMP,year,month,day,weekday,hour,minute,second,DAY_TYPE,TAXI_ID,TRIP_ID,CALL_TYPE,ORIGIN_STAND,ORIGIN_CALL,MISSING_DATA,POLYLINE
0,1372636853,2013,7,1,0,0,0,53,A,20000380,1372636853620000380,C,NaN,NaN,False,"[[-8.610291,41.140746],[-8.6103,41.140755],[-8..."

In [20]:
str = "123.456"
type(float(str))

float

In [21]:
type(df[df["TRIP_ID"] == 1372636853620000380]["POLYLINE"])

pandas.core.series.Series

In [22]:
# シリーズ
polyline = df[df["TRIP_ID"] == 1372636853620000380]["POLYLINE"]
# numpy.ndarray
polyline = polyline.values
polyline = polyline[0]
polyline

'[[-8.610291,41.140746],[-8.6103,41.140755],[-8.610309,41.14089],[-8.613657,41.141358],[-8.614602,41.141484],[-8.614242,41.142618],[-8.61363,41.143239],[-8.612883,41.143761],[-8.612208,41.144238],[-8.611542,41.144724],[-8.611227,41.144931],[-8.611191,41.14494],[-8.611101,41.145012],[-8.610822,41.145552],[-8.610516,41.146119],[-8.609355,41.146695],[-8.608311,41.147694],[-8.607051,41.148468],[-8.604792,41.147883],[-8.604045,41.147685],[-8.603865,41.146956],[-8.604531,41.146182],[-8.605593,41.145534],[-8.605854,41.145345],[-8.60589,41.145345]]'

### POLYLINEの中身をfloatの配列に変換

In [23]:
# POLYLINEの中身をfloatの配列に変換
def convert_float_list(polyline: str):

    cordinate = polyline.replace("[", "")
    cordinate = cordinate.replace("]", "")
    str_arr = cordinate.split(",")

    cord_list = []
    each_cord = []

    for i, e in enumerate(str_arr):

        try:
            if i % 2 == 0:
                each_cord = []
                each_cord.append(float(e))
            else:
                each_cord.append(float(e))
                cord_list.append(each_cord)
        except:
            print("### i = ", i)
            print("### e = ", e)
            
            break

    return cord_list

In [24]:
df["POLYLINE"].iloc[0]

'[[-8.610291,41.140746],[-8.6103,41.140755],[-8.610309,41.14089],[-8.613657,41.141358],[-8.614602,41.141484],[-8.614242,41.142618],[-8.61363,41.143239],[-8.612883,41.143761],[-8.612208,41.144238],[-8.611542,41.144724],[-8.611227,41.144931],[-8.611191,41.14494],[-8.611101,41.145012],[-8.610822,41.145552],[-8.610516,41.146119],[-8.609355,41.146695],[-8.608311,41.147694],[-8.607051,41.148468],[-8.604792,41.147883],[-8.604045,41.147685],[-8.603865,41.146956],[-8.604531,41.146182],[-8.605593,41.145534],[-8.605854,41.145345],[-8.60589,41.145345]]'

In [26]:
# df["POLYLINE"] = df["POLYLINE"].apply(convert_float_list)

In [ ]:
df["POLYLINE"].iloc[0]

In [27]:
# floatに変換
a = "[[-8.610291,41.140746],[-8.6103,41.140755]]"
# a = [[-8.610291,41.140746],[-8.6103,41.140755]]
a

'[[-8.610291,41.140746],[-8.6103,41.140755]]'

In [28]:
a = a.replace("[", "")
a = a.replace("]", "")
# a = a.split(",")
arr = a.split(",")

# 数値の配列に変換
arr = list(map(float, arr))
arr

[-8.610291, 41.140746, -8.6103, 41.140755]

## 乗車率の算出

### 乗車率の定義
1日の乗車時間（秒）/ 24 * 60 * 60(秒）    

※日跨ぎで働くドライバーでも1日の稼働時間は同じという前提。   
例）9-18（8h）、22-25(1h）＋ 10-15(5h）＋22-25(2h）

In [ ]:
def calc_working_rate(arr: ndarray):
    
    # 24 * 60 * 60 = 86400
    return ( arr.sum() / 86400) * 100

In [ ]:
24 * 60 * 60