<h1>目次<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#背景" data-toc-modified-id="背景-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>背景</a></span></li><li><span><a href="#目的" data-toc-modified-id="目的-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>目的</a></span><ul class="toc-item"><li><span><a href="#ビジネスインパクト" data-toc-modified-id="ビジネスインパクト-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>ビジネスインパクト</a></span></li></ul></li><li><span><a href="#データ概説" data-toc-modified-id="データ概説-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>データ概説</a></span></li><li><span><a href="#初期仮説" data-toc-modified-id="初期仮説-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>初期仮説</a></span></li><li><span><a href="#データ編集" data-toc-modified-id="データ編集-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>データ編集</a></span><ul class="toc-item"><li><span><a href="#UNIXタイムスタンプを-yyyyMMddhhmmss形式に変更" data-toc-modified-id="UNIXタイムスタンプを-yyyyMMddhhmmss形式に変更-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>UNIXタイムスタンプを yyyyMMddhhmmss形式に変更</a></span></li><li><span><a href="#タイムスタンプを年月日時分秒＋曜日に分ける" data-toc-modified-id="タイムスタンプを年月日時分秒＋曜日に分ける-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>タイムスタンプを年月日時分秒＋曜日に分ける</a></span></li><li><span><a href="#POLYLINEの編集" data-toc-modified-id="POLYLINEの編集-5.3"><span class="toc-item-num">5.3&nbsp;&nbsp;</span>POLYLINEの編集</a></span><ul class="toc-item"><li><span><a href="#カンマ区切りの文字列に変換" data-toc-modified-id="カンマ区切りの文字列に変換-5.3.1"><span class="toc-item-num">5.3.1&nbsp;&nbsp;</span>カンマ区切りの文字列に変換</a></span></li><li><span><a href="#POLYLINEに不正な値が入っている行を削除" data-toc-modified-id="POLYLINEに不正な値が入っている行を削除-5.3.2"><span class="toc-item-num">5.3.2&nbsp;&nbsp;</span>POLYLINEに不正な値が入っている行を削除</a></span></li><li><span><a href="#[緯度、経度]ペアで配列化" data-toc-modified-id="[緯度、経度]ペアで配列化-5.3.3"><span class="toc-item-num">5.3.3&nbsp;&nbsp;</span>[緯度、経度]ペアで配列化</a></span></li></ul></li><li><span><a href="#乗車距離の算出" data-toc-modified-id="乗車距離の算出-5.4"><span class="toc-item-num">5.4&nbsp;&nbsp;</span>乗車距離の算出</a></span></li><li><span><a href="#乗降ポイント列の追加" data-toc-modified-id="乗降ポイント列の追加-5.5"><span class="toc-item-num">5.5&nbsp;&nbsp;</span>乗降ポイント列の追加</a></span><ul class="toc-item"><li><span><a href="#降車ポイントが不明なデータの削除" data-toc-modified-id="降車ポイントが不明なデータの削除-5.5.1"><span class="toc-item-num">5.5.1&nbsp;&nbsp;</span>降車ポイントが不明なデータの削除</a></span></li></ul></li><li><span><a href="#祝日列の追加" data-toc-modified-id="祝日列の追加-5.6"><span class="toc-item-num">5.6&nbsp;&nbsp;</span>祝日列の追加</a></span></li><li><span><a href="#曜日を文字に変換" data-toc-modified-id="曜日を文字に変換-5.7"><span class="toc-item-num">5.7&nbsp;&nbsp;</span>曜日を文字に変換</a></span></li><li><span><a href="#列を並び替え、日付の昇順でソート" data-toc-modified-id="列を並び替え、日付の昇順でソート-5.8"><span class="toc-item-num">5.8&nbsp;&nbsp;</span>列を並び替え、日付の昇順でソート</a></span></li></ul></li><li><span><a href="#ここまでのデータをcsvに保存" data-toc-modified-id="ここまでのデータをcsvに保存-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>ここまでのデータをcsvに保存</a></span></li></ul></div>

## データ編集

In [1]:
import pandas as pd 
import numpy as np
import re
import copy
from datetime import datetime as dt

from matplotlib import pyplot as plt
import seaborn as sns

# warningの抑止
import warnings
warnings.filterwarnings('ignore')

# メモリ解放
import gc

In [2]:
# データを読み込む
df = pd.read_csv("data/Porto_taxi_data_test_partial_trajectories.csv")

# 行数と列数を確認
df.shape

(320, 9)

### UNIXタイムスタンプを yyyyMMddhhmmss形式に変更

In [3]:
df["time"] = pd.to_datetime(df["TIMESTAMP"], unit="s")

### タイムスタンプを年月日時分秒＋曜日に分ける

In [4]:
# time列（9列目）を、年月日時分秒 + 曜日 で分割する。
df["year"] = df.iloc[:, 9].apply(lambda x: x.year)

df["month"] = df.iloc[:, 9].apply(lambda x: x.month)

df["day"] = df.iloc[:, 9].apply(lambda x: x.day)

df["weekday"] = df.iloc[:, 9].apply(lambda x: x.weekday())

df["hour"] = df.iloc[:, 9].apply(lambda x: x.hour)

df["minute"] = df.iloc[:, 9].apply(lambda x: x.minute)

df["second"] = df.iloc[:, 9].apply(lambda x: x.second)

### POLYLINEの編集

#### カンマ区切りの文字列に変換

In [5]:
df["POLYLINE"] = df["POLYLINE"].apply(lambda x: x.replace("[", "").replace("]", ""))

#### POLYLINEに不正な値が入っている行を削除

POLYLINEは15秒ごとの [経度、緯度] をリストなので、値が入っていなかったり、[経度、緯度]の組みとなっていなかった場合、乗車、降車地点が不明なレコードは削除する。

In [6]:
invalid_polyline_row_index = []

for i, v in enumerate(df["POLYLINE"]):

    try:
        _arr = v.split(",")
        _size = len(_arr)

        # 経度、緯度のペアになっていない場合
        if (_size % 2) != 0:
            raise ValueError()

        # 乗車経度、乗車緯度、降車経度、降車緯度がない場合
        if _size < 4:
            raise ValueError()

        # 数値に変換できる事を確認
        float(_arr[0])  #乗車経度
        float(_arr[1])  #乗車経度
        float(_arr[-2])  #降車経度
        float(_arr[-1])  #降車緯度

    except:
        # print(i, v)
        # 不適切な 値が格納されている行インデックスを格納
        invalid_polyline_row_index.append(i)

In [8]:
invalid_polyline_row_index

[33, 121]

In [9]:
df.shape[0]

320

In [10]:
# 無効な行レコードを削除
df.drop(invalid_polyline_row_index, inplace=True)

In [11]:
df.shape[0]

318

#### [緯度、経度]ペアで配列化

In [12]:
def to_array_polyline(x):
    
    _arr = x.split(",")

    parent_list = []
    child_list = None
    
    for i ,v in enumerate( _arr ):
        
        if i % 2 == 0:
            child_list = []
            child_list.append(float(v))
        else:
            child_list.append(v)
            parent_list.append(np.array(child_list))
    
    return np.array(parent_list)

df["POLYLINE"] = df["POLYLINE"].apply(to_array_polyline)

### 乗車距離の算出

In [13]:
def calc_distance(x):

    _distance = 0

    start_point = []
    end_point = []

    for i, v in enumerate(x):

        if i == 0:
            start_point.append(float(v[0]))
            start_point.append(float(v[1]))
            continue

        end_point = np.array(start_point)
        start_point = []

        start_point.append(float(v[0]))
        start_point.append(float(v[1]))
        start_point = np.array(start_point)

        # １度あたり 110.94297kmで計算（緯度の違いによる経度の距離の違いは無視）
        _temp = ((end_point - start_point) * 110.94297)**2
        _distance += np.sqrt(_temp[0] + _temp[1])

    return _distance


df["distance"] = df["POLYLINE"].apply(calc_distance)

In [14]:
df["distance"].head()

0    0.607466
1    2.429108
2    4.347088
3    0.226726
4    0.000998
Name: distance, dtype: float64

### 乗降ポイント列の追加

In [15]:
# 乗車時間（秒）列の追加
df["riding_time"] = df["POLYLINE"].apply(lambda x : len(x) * 15)

In [16]:
# 乗車した緯度・経度を返す
def get_start_point(polyline):
    _arr = polyline.split(",")
    return np.array(float(_arr[0]), float(_arr[1]))


# 降車した緯度・経度を返す
def get_end_point(polyline):
    _arr = polyline.split(",")
    return np.array(float(_arr[-2]), float(_arr[-1]))

In [17]:
# 乗降ポイント列の追加
df["start_x"] = df["POLYLINE"].apply(lambda x : x[0][0])
df["start_y"] = df["POLYLINE"].apply(lambda x : x[0][1])

df["end_x"] = df["POLYLINE"].apply(lambda x : x[-1][0])
df["end_y"] = df["POLYLINE"].apply(lambda x : x[-1][1])

In [18]:
df.head(3)

,TRIP_ID,CALL_TYPE,ORIGIN_CALL,ORIGIN_STAND,TAXI_ID,TIMESTAMP,DAY_TYPE,MISSING_DATA,POLYLINE,time,...,weekday,hour,minute,second,distance,riding_time,start_x,start_y,end_x,end_y
0,T1,B,NaN,15.0,20000542,1408039037,A,False,"[[-8.585676, 41.148522], [-8.585712000000001,...",2014-08-14 17:57:17,...,3,17,57,17,0.607466,165,-8.585676,41.148522,-8.584883999999999,41.146623000000005
1,T2,B,NaN,57.0,20000108,1408038611,A,False,"[[-8.610876000000001, 41.14557], [-8.610858, ...",2014-08-14 17:50:11,...,3,17,50,11,2.429108,600,-8.610876000000001,41.14557,-8.601894,41.163597
2,T3,B,NaN,15.0,20000370,1408038568,A,False,"[[-8.585739, 41.148558], [-8.585730000000002,...",2014-08-14 17:49:28,...,3,17,49,28,4.347088,600,-8.585739,41.148558,-8.574903,41.167719

#### 降車ポイントが不明なデータの削除

In [19]:
# 降車ポイント
df[df["MISSING_DATA"] != False].index.values

array([], dtype=int64)

In [20]:
df.drop(df[df["MISSING_DATA"] != False].index.values, inplace=True)

In [21]:
df[df["MISSING_DATA"] != False].shape[0]

0

### 祝日列の追加

In [22]:
def is_holiday(x):

    # 平日
    ret_val = "o"

    _year = x["year"]
    _month = x["month"]
    _day = x["day"]

    if _year == 2013:
        # 1/1
        if _month == 1:
            if _day == 1:
                ret_val = 'h'

        # 2/11、2/14
        elif _month == 2:
            if _day in (11, 14):
                ret_val = 'h'

        # 3/29、3/31
        elif _month == 3:
            if _day in (29, 31):
                ret_val = 'h'

        # 4/1、4/25
        elif _month == 4:
            if _day in (1, 25):
                ret_val = 'h'

        # 5/1、5/5、5/9、5/30
        elif _month == 5:
            if _day in (1, 5, 9, 30):
                ret_val = 'h'

        # 6/10、6/13、6/24、6/29
        elif _month == 6:
            if _day in (10, 13, 24, 29):
                ret_val = 'h'
        # 8/15
        elif _month == 8:
            if _day == 15:
                ret_val = 'h'
        # 10/5
        elif _month == 10:
            if _day == 5:
                ret_val = 'h'

        # 11/1
        elif _month == 11:
            if _day == 1:
                ret_val = 'h'

        # 12/1、12/8、12/25
        elif _month == 12:
            if _day in (1, 8, 25):
                ret_val = 'h'

    elif _year == 2014:
        # 1/1
        if _month == 1:
            if _day == 1:
                ret_val = 'h'

        # 2/14
        elif _month == 2:
            if _day == 14:
                ret_val = 'h'

        # 3/3
        elif _month == 3:
            if _day == 3:
                ret_val = 'h'

        # 4/18、4/20、4/21、4/25
        elif _month == 4:
            if _day in (18, 20, 21, 25):
                ret_val = 'h'

        # 5/1、5/4、5/29
        elif _month == 5:
            if _day in (1, 4, 29):
                ret_val = 'h'

        # 6/10、6/13、6/19、6/24、6/29
        elif _month == 6:
            if _day in (10, 13, 19, 24, 29):
                ret_val = 'h'
        # 8/15
        elif _month == 8:
            if _day == 15:
                ret_val = 'h'
        # 10/5
        elif _month == 10:
            if _day == 5:
                ret_val = 'h'

        # 11/1
        elif _month == 11:
            if _day == 1:
                ret_val = 'h'

        # 12/1、12/8、12/25
        elif _month == 12:
            if _day in (1, 8, 25):
                ret_val = 'h'

    return ret_val


df["holiday"] = df.apply(is_holiday, axis=1)

### 曜日を文字に変換  
後でダミー化する為

In [23]:
# Monday=0, Sunday=6 => 0=Mon, 6=Sun に変換
def convert_weekday(x):

    if x == 0:
        return "mon"
    elif x == 1:
        return "tue"
    elif x == 2:
        return "wed"
    elif x == 3:
        return "thu"
    elif x == 4:
        return "fri"
    elif x == 5:
        return "sat"
    elif x == 6:
        return "sun"

df["weekday"] = df["weekday"].apply(convert_weekday)

In [24]:
df.head()

,TRIP_ID,CALL_TYPE,ORIGIN_CALL,ORIGIN_STAND,TAXI_ID,TIMESTAMP,DAY_TYPE,MISSING_DATA,POLYLINE,time,...,hour,minute,second,distance,riding_time,start_x,start_y,end_x,end_y,holiday
0,T1,B,NaN,15.0,20000542,1408039037,A,False,"[[-8.585676, 41.148522], [-8.585712000000001,...",2014-08-14 17:57:17,...,17,57,17,0.607466,165,-8.585676,41.148522,-8.584883999999999,41.146623000000005,o
1,T2,B,NaN,57.0,20000108,1408038611,A,False,"[[-8.610876000000001, 41.14557], [-8.610858, ...",2014-08-14 17:50:11,...,17,50,11,2.429108,600,-8.610876000000001,41.14557,-8.601894,41.163597,o
2,T3,B,NaN,15.0,20000370,1408038568,A,False,"[[-8.585739, 41.148558], [-8.585730000000002,...",2014-08-14 17:49:28,...,17,49,28,4.347088,600,-8.585739,41.148558,-8.574903,41.167719,o
3,T4,B,NaN,53.0,20000492,1408039090,A,False,"[[-8.613963, 41.141169], [-8.614125000000001,...",2014-08-14 17:58:10,...,17,58,10,0.226726,120,-8.613963,41.141169,-8.614638,41.14097999999999,o
4,T5,B,NaN,18.0,20000621,1408039177,A,False,"[[-8.619902999999999, 41.148036000000005], [-...",2014-08-14 17:59:37,...,17,59,37,0.000998,30,-8.619902999999999,41.148036000000005,-8.619894,41.148036000000005,o

### 列を並び替え、日付の昇順でソート

In [25]:
# 降車ポイントが不明なデータを削除
df.drop(df[df["MISSING_DATA"] != False].index.values, inplace=True)

col_names = [
    "TIMESTAMP", "year", "month", "day", "weekday", "hour", "minute",
    "holiday", "riding_time", "distance", "start_x", "start_y", "end_x",
    "end_y", "CALL_TYPE", "TAXI_ID"
]

df.sort_values(
    by=["year", "month", "day", "hour", "minute", "second"],
    ascending=True,
    inplace=True)

# 要らない列を削除
df.drop([
    "time", "second", "TRIP_ID", "DAY_TYPE", "ORIGIN_STAND", "ORIGIN_CALL",
    "MISSING_DATA", "POLYLINE"
],
        axis=1,
        inplace=True)

# 列の並び替え
df = df.reindex(col_names, axis=1)

# 元の行インデックスをdropし、振りなおす
df.reset_index(drop=True, inplace=True)

df.to_csv("data/edit_test_final.csv", index=False, header=True)

In [26]:
df.head(3)

,TIMESTAMP,year,month,day,weekday,hour,minute,holiday,riding_time,distance,start_x,start_y,end_x,end_y,CALL_TYPE,TAXI_ID
0,1408032143,2014,8,14,thu,16,2,o,7050,69.679737,-8.624304,41.179688999999996,-8.376903,41.556375,C,20000010
1,1408036076,2014,8,14,thu,17,7,o,2010,21.236825,-8.630667,41.207364,-8.642916000000001,41.167746,C,20000668
2,1408036255,2014,8,14,thu,17,10,o,1140,11.765057,-8.665353,41.18616,-8.669475,41.237415,C,20000312